@import '../../../styles/variables';
@import '../../../styles/mixins';

.products { display: grid; grid-template-columns: repeat(3, 1fr); gap: 40px;  
  &__item { padding: 20px 24px; box-shadow: 0px 8px 20px rgba($black, 0.08); border-radius: 20px;
    &__header { @include flex-space-between; }
    &__price { @include flex-space-between; margin-bottom: 30px; }
    &__poster { width: 100%; height: 240px; border-radius: 10px; margin: 20px 0; }
    &__title { font-size: 1.5rem; margin-bottom: 30px; }
    &__actions { @include flex-space-between; }
  }

}