@import '../../../styles/variables';
@import '../../../styles/mixins';

.button { outline: none; border-radius: 8px; border: none; cursor: pointer; @include transition-common;
  &_primary { background-color: $accent; color: $white;
    &:hover { background-color: rgba($accent, 0.85); }
    &:active { background-color: rgba($accent, 0.5); }
  }
  &_secondary { background-color: $secondary; color: $white;
    &:hover { background-color: rgba($secondary, 0.85); }
    &:active { background-color: rgba($secondary, 0.5); }
  }

  &_large { padding: 14px 58px; }
  &_small { padding: 14px 24px; }

  &-link {  cursor: pointer; @include transition-common; text-decoration: none; @include flex-align-center; gap: 10px;
    &_primary { color: $dark; }
    &_black { color: $black; }
    &__icon { @include transition-common; }
    &:hover { color: $accent;
      .button-link__icon { background-color: $accent; }
    }

    &:active { color: rgba($accent, 0.5);
      .button-link__icon { background-color: rgba($accent, 0.5); }
    }
  }
}