@import '../../../styles/variables';
@import '../../../styles/mixins';

.icon { display: block; -webkit-mask-size: contain; -webkit-mask-repeat: no-repeat; -webkit-mask-position: center; width: 20px; height: 20px;
  &__bag { -webkit-mask-image: url(../../../static/bag.svg); }
  &__facebook { -webkit-mask-image: url(../../../static/facebook.svg); }
  &__twitter { -webkit-mask-image: url(../../../static/twitter.svg); }
  &__instagram { -webkit-mask-image: url(../../../static/instagram.svg); }
  &__linkedin { -webkit-mask-image: url(../../../static/linkedin.svg); }
  &__arrow-link { -webkit-mask-image: url(../../../static/arrow-link.svg); width: 24px; height: 24px; }
  &__heart { -webkit-mask-image: url(../../../static/heart.svg); }
  &__menu { -webkit-mask-image: url(../../../static/menu.svg); }
  &__close { -webkit-mask-image: url(../../../static/close.svg); }

  &_white { background-color: $white; }
  &_black { background-color: $black; }
  &_accent { background-color: $accent; }
}

.rounded-icon { display: inline-block; border-radius: 50%;
  &_small { padding: 12px; }
  &_large { padding: 17px; }

  &_accent { background-color: $accent; }
  &_light { background-color: $light; }

  @media (max-width: $mobile) {
    &_large { padding: 8px; }
  }
}