// fonts 
$font: 16px;

// displays 
$tablet: 1024px;
$mobile: 768px;

// colors
$black: #141414;
$dark: #020E27;
$white: #FFFFFF;
$accent: #413DEE;
$light: #ECECFD;
$background-light: #F8F8F8;
$secondary: #EB3131;