@import './variables';

* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: Verdana, sans-serif; font-size: $font; color: $black; }

.header_hide { transform: translateY(-$padding-header); }

.visually-hidden { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; clip: rect(0 0 0 0); overflow: hidden; }