@import '../../../styles/variables';
@import '../../../styles/mixins';

.modal {
  &__wrapper { position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: rgba($grey, 0.85); z-index: 10; 
    width: 100%; height: 100%; backdrop-filter: blur(3px); @include transition-common; display: none;

    &_open { display: block; }
  }

  &__container { background-color: $white; min-width: 400px; max-height: max-content; border-radius: 4px; box-shadow: 3px 3px 10px $light;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 15px 35px; opacity: 1;
    border: 1px solid $grey;
  }

  &__title { text-align: center; margin: 30px 0; }
  &__close { cursor: pointer; position: absolute; top: 7px; right: 7px; }

  @media (max-width: $mobile) {
    &__container { width: 100%; height: 100%; }
  }
}