@import '../../styles/variables';
@import '../../styles/mixins';

.layout { 
  &__header { padding: 35px 0;
    &-container { @include flex-space-between; }
    &-navigation { flex: 2; padding: 0 110px; }
  }

  &__logo { width: 200px; height: 30px; }
  &__actions { flex: 1; @include flex-align-center; justify-content: flex-end; }
  &__avatar { padding-left: 20px; }

  &__footer { margin-bottom: 85px;
    &-title { font-family: 'DM Sans'; margin-bottom: 25px; }
    &-container { display: flex; }
    &-navigation { align-items: flex-start !important; gap: 10px; }
  }

  &__col { flex: 1; }
  &_left-100 { padding-left: 100px; }
  &__social { @include flex-align-center; gap: 20px; margin-bottom: 20px; }
}