@import '../../../styles/variables';
@import '../../../styles/mixins';

.product {
  &__header { @include flex-space-between; }
  &__price { @include flex-space-between; margin-bottom: 30px; }
  &__poster { width: 100%; height: 240px !important; border-radius: 10px; margin: 20px 0; }
  &__title { font-size: 1.5rem; margin-bottom: 30px; }
  &__actions { @include flex-space-between; }
  &__icon { cursor: pointer; }
  &__icon-actions { @include flex-align-center; gap: 5px; }

  @media (max-width: $mobile-small) {
    &__actions { flex-direction: column; align-items: flex-start; gap: 12px; }
  }
}

.product-minified { @include flex-align-center; gap: 15px; margin: 20px 0;
  &__poster, &__info { flex: 1; }
  &__poster { width: 35px; height: 85px; border-radius: 3px; overflow: hidden; }
  &__title { margin-bottom: 15px; }
  &__price-container { @include flex-space-between; }
}