@import '../../../styles/variables';
@import '../../../styles/mixins';

.form {
  &__control { display: block; width: 100%; position: relative; padding: 0; border-radius: 4px; border: 1px solid $accent;
    background-color: $white; margin-bottom: 20px;
  }

  &__field { border: none; outline: none; background: transparent; padding: 12px 25px; width: 100%; height: 100%; color: $black; }
  &__label { position: absolute; top: 5px; left: 20px; font-size: 1.1rem; color: $grey; @include transition-common;
    &_active { @include label-active; }
  }
  
  &__field:focus ~ &__label { @include label-active; }
}