@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.product-list {
  &__header { display: flex; justify-content: space-between; align-items: flex-start; }
  &__title { margin-bottom: 50px; }
  &__add { cursor: pointer; }
}