@import '../../../styles/variables';
@import '../../../styles/mixins';

.dropdown { position: relative;
  &__target { cursor: pointer; }
  &__content { position: absolute; top: 65px; right: 0; padding: 15px; border: 1px solid $light; background-color: $white;
    border-radius: 6px; box-shadow: 3px 3px 10px $grey; @include transition-common; width: max-content; max-height: 325px;
    overflow-y: auto;
  }
}