@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.introduce { display: flex; padding: 50px 0;
  &__info, &__poster-container { flex: 1; min-height: 600px; }
  &__info {display: flex; align-items: flex-start; flex-direction: column; justify-content: center; }
  &__poster-container { position: relative; }
  &__poster { position: absolute !important; top: 0; right: -134px; width: 780px !important; height: 600px !important; }
  &__subtitle { font-weight: bold; }
  &__title { font-size: 4rem; margin: 24px 0; }
  &__actions { @include flex-space-between; gap: 30px; }
}